{% extends 'inventory/base.html' %}

{% block content %}

<!-- Banner Section -->

<!-- <div style="text-align: center; padding: 20px; background-color: #f8f9fa; border-bottom: 1px solid #ddd;"> >
 <!   <img src="/static/images/banner.jpg" alt="Inventory Banner" style="max-width: 100%; height: auto;"> >
<! </div> -->

<a href="{% url 'index' %}" class="btn btn-outline-primary my-3 mx-4">Customers</a>

	{% if messages %}
		<div class="row mt-3">
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="col-md-10 col-12 mx-auto alert alert-danger">
						{{ message }}
					</div>
				{% else %}
					<div class="col-md-10 col-12 mx-auto alert alert-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-12 mx-auto mt-5">
			<div class="d-flex justify-content-end">
				<a href="{% url 'customeradd' %}" class="btn btn-primary">+</a>
			</div>
<form method="get" action="{% url 'dashboard2' %}">
		<input type="text" name="cphone" placeholder="Search by phone number" value="{{ request.GET.cphone }}">
        <button type="submit">Search</button>
</form>

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">NIE</th>
						<th scope="col">Phone</th>
						<th scope="col">Address</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% if custs|length == 0 %}
					<tr>
						<th scope="row">-</th>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td></td>
					</tr>
					{% endif %}

					{% for itemcust in custs %}
					<tr>
						<th scope="row">{{ itemcust.id }}</th>
						<td>{{ itemcust.cname }}</td>
						<td>{{ itemcust.cnie }}</td>
						<td>{{ itemcust.cphone }}</td>
						<td>{{ itemcust.caddress }}</td>						
						<td><a href="{% url 'cust-edit' itemcust.id %}" class="btn btn-outline-secondary">Edit</a></td>
						<td><a href="{% url 'cust-delete' itemcust.id %}" class="btn btn-secondary">Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}