{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- <a href="{% url 'dashboard3' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a> -->
<style>
    .form-group label {
        display: inline-block;
        width: 80px; /* Adjust width as needed */
    }

    .form-group .form-control {
        display: inline-block;
        width: auto; /* Makes input fields fit the content */
    }
    </style>

    <div class="row">
        <div class="col-11 col-md-4 mx-auto mt-5">
            <h3>Suppliers data</h3>

            <form method="POST">
                {% csrf_token %}
                <!-- Render the fields properly with crispy form -->
                <div class="form-group row">
                    {% for field in form %}
                        <div class="col-md-11 mb-6">
                            <label for="{{ field.id_for_label }}"class="col-form-label">{{ field.label }}</label>
                            {{ field }} <!-- Render each form field without crispy -->
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary">Add Supplier</button>
                </div>
            </form>
        </div>
    </div>
    

{% endblock content %}

